:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
  --employee-background-color: #F5F4FA;
  --hover-bg-color-button: #188CE8;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --shadows-color: #ECECEC;
  --second-logo-color: #000000;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.logo {
  margin-right: 90px;
}
.logo:focus {
  color: var(--accent-color);
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio-header {
  color: var(--second-logo-color);
}

.logo-studio-footer {
  color: var(--primary-background-color);
}

.button-hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.button-hero:hover, .button-hero:focus {
  background-color: var(--hover-bg-color-button);
}

.button-subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-subscribe:hover, .button-subscribe:focus {
  background-color: var(--hover-bg-color-button);
  cursor: pointer;
}

.button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}
.button-send:hover, .button-send:focus {
  background-color: var(--hover-bg-color-button);
}

.sub-menu-button {
  display: flex;
  justify-content: center;
}

.sub-menu-button__item:not(:last-child) {
  margin-right: 8px;
}

.button-menu {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: transparent;
  color: var(--primary-text-color);
  background-color: var(--employee-background-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-menu:hover, .button-menu:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  color: var(--primary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-close-button-icon {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover .modal-close-button-icon, .modal-close-button:focus .modal-close-button-icon {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.modal-form {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  outline: none;
  border: 1px solid rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.user-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-text-color);
  cursor: pointer;
}

.user-feedback {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.form-feedback {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-feedback::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-feedback:focus {
  outline: none;
  border: 1px solid rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-check::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  cursor: pointer;
}
.checkbox:checked + .form-check::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  border: transparent;
  box-shadow: none;
}
.checkbox:focus + .form-check::before {
  outline: 1px solid var(--primary-text-color);
}

.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.terms {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.input-wrap {
  position: relative;
  display: block;
  cursor: pointer;
}

.icon-form {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .icon-form {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
    height: 100vh;
  }
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 20px;
    background-color: transparent;
    padding: 0;
    color: var(--primary-text-color);
    border: none;
    line-height: 0;
  }
  .mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 302px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .mobile-menu__link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__link-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .mobile-menu__social {
    display: flex;
    gap: 10px;
  }
  .mobile-menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__social-item:not(:last-child)::after {
    margin-left: 10px;
    content: "";
    width: 22px;
    height: 0px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

[type] {
  font-family: "Roboto";
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 768px) {
  header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .logo {
    margin-right: 88px;
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__list .menu__link_current {
    color: var(--accent-color);
  }
  .menu__link_current::after {
    position: absolute;
    display: block;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .menu__link {
    position: relative;
    padding-top: 26px;
    padding-bottom: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .menu__link {
    padding-bottom: 31px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .contacts-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contacts-menu__link {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-menu__link:hover, .contacts-menu__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .icon-envelope {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .icon-smartphone {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    align-items: center;
  }
  .contacts-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-menu__item:not(:last-child) {
    margin-right: 30px;
  }
}
.hero {
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #C4C4C4;
  background-size: 480px 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile.jpg);
}

@media screen and (min-device-pexel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-mobile@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet.jpg);
  }
}
@media screen and (min-device-pexel-ratio: 2) and (min-width: 481px), screen and (min-resolution: 192dpi) and (min-width: 481px), screen and (min-resolution: 2dppx) and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-tablet@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: 1600px 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desktop.jpg);
  }
}
@media screen and (min-device-pexel-ratio: 2) and (min-width: 769px), screen and (min-resolution: 192dpi) and (min-width: 769px), screen and (min-resolution: 2dppx) and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-desktop@2x.jpg);
  }
}
.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-background-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.features-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.features__item {
  width: 450px;
}

.features__list {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features__icon-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--employee-background-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .work {
    display: none;
  }
}
.work-container {
  display: flex;
  justify-content: center;
}
.work-container .item:not(:last-child) {
  margin-right: 30px;
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.work__image {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.employees-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.employees {
  background-color: var(--employee-background-color);
}

.employees__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.employees__card {
  background-color: var(--primary-background-color);
}

.employees__card-container {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.emloyees__name {
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.employees__position {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #FFFFFF;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-clients {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.address-container {
  display: block;
  margin-top: 20px;
}

.footer__address {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}
.footer__address:focus, .footer__address:hover {
  color: var(--accent-color);
}

.footer__contacts {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__contacts:focus, .footer__contacts:hover {
  color: var(--accent-color);
}

.footer__social-list {
  display: flex;
  gap: 10px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--accent-color);
}

.footer__join-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.footer__subscribe-text {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
}

.footer__subscribe-input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}
.footer__subscribe-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}

.sub-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.sub-menu__card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.sub-menu__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.sub-menu__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translate(0%, 101%);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-overlay:hover .overlay, .link-overlay:focus .overlay {
  transform: translate(0%, 0%);
}/*# sourceMappingURL=main.css.map */