.hero {
        min-height: 400px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 118px;
        padding-bottom: 118px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #C4C4C4;
        background-size: 480px 400px;
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../../images/hero-mobile.jpg);
        
}

@media screen and (min-device-pexel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
        .hero {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../../images/hero-mobile@2x.jpg)
        }
}

@media screen and (min-width: 481px) {
     .hero {
            background-size: 768px 400px;
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../../images/hero-tablet.jpg)
    }
}

@media screen and (min-device-pexel-ratio: 2) and (min-width: 481px),
  screen and (min-resolution: 192dpi) and (min-width: 481px),
  screen and (min-resolution: 2dppx) and (min-width: 481px) {
        .hero {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../../images/hero-tablet@2x.jpg)
        }
}

@media screen and (min-width: 769px) {
    .hero {
            min-height: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
            background-size: 1600px 600px;
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(../../images/hero-desktop.jpg)
    }
   
}

@media screen and (min-device-pexel-ratio: 2) and (min-width: 769px),
  screen and (min-resolution: 192dpi) and (min-width: 769px),
  screen and (min-resolution: 2dppx) and (min-width: 769px) {
        .hero {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../../images/hero-desktop@2x.jpg)
        }
}

.hero__title {
    @include font(26px, 900, 1.62, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-background-color);

    @media screen and (min-width: 1200px) {
        @include font(44px, 900, 1.36, 0.06em);
    }
}
























// .hero {
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)),
//         url(../images/herotitle.jpg);
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-color: #C4C4C4;
// }

// .hero__title {
//     @include font(44px, 900, 1.36, 0.06em);
//     text-align: center;
//     text-transform: uppercase;
//     color: var(--primary-background-color);
// }
