.hero {
        min-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 118px;
        padding-bottom: 118px;
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(./images/hero-mobile.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #C4C4C4;
}

.hero__title {
    @include font(26px, 900, 1.62, 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-background-color);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width:767px),
    screen and (min-resolution: 192dpi) and (max-width:767px),
    screen and (min-resolution: 2dppx) and (max-resolution: 767px) {
        .hero {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(./images/hero-mobile@2x.jpg)
        }
}

@media screen and (min-width: 768px) {
     .hero {
            min-width: 768px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 118px;
            padding-bottom: 118px;
            background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/hero-tablet.jpg)
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
    screen and (min-resolution: 192dpi) and (min-width:768px),
    screen and (min-resolution: 2dppx) and (min-resolution: 768px) {
        .hero {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(/images/hero-tablet@2x.jpg)
        }
}
@media screen and (min-width: 1200px) {
    .hero {
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 200px;
            padding-bottom: 200px;
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/hero-desktop.jpg)
    }
    .hero__title {
        @include font(44px, 900, 1.36, 0.06em);
        text-align: center;
        text-transform: uppercase;
        color: var(--primary-background-color);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:1200px),
    screen and (min-resolution: 192dpi) and (min-width:1200px),
    screen and (min-resolution: 2dppx) and (min-resolution: 1200px) {
        .hero {
            background-image: linear-gradient(
                to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(/images/hero-desktop@2x.jpg)
        }
}
























// .hero {
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     background-image: linear-gradient(
//         to right,
//         rgba(47, 48, 58, 0.4),
//         rgba(47, 48, 58, 0.4)),
//         url(../images/herotitle.jpg);
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-color: #C4C4C4;
// }

// .hero__title {
//     @include font(44px, 900, 1.36, 0.06em);
//     text-align: center;
//     text-transform: uppercase;
//     color: var(--primary-background-color);
// }
