@media screen and (max-width: 1199px) {
    .work {
        display: none;
    }
}

.work {
    padding-top: 0;
}

.work-container {
    display: flex;
    justify-content: center;

    & .item:not(:last-child) {
        margin-right: 30px;
    }
}

.work__title {
    margin-bottom: 50px;
    @include font(36px, 700, 1.17, 0.03em);
    text-align: center;
    color: var(--primary-text-color);     
}

.work__image {
    position: relative;
}

.work__text {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    @include font(14px, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: var(--primary-background-color);
    background-color: rgba(47, 48, 58, 0.8);
}