body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
}
.list {
    list-style: none;
}
a {
    text-decoration: none;
}
[type] {
    font-family: 'Roboto';
    font-style: normal;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;        
    }
}

h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}